@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans:wght@300&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@600&family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans:wght@300&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gloria+Hallelujah&family=Inter:wght@600&family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans:wght@300&family=Roboto+Slab:wght@500&family=Tilt+Warp&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

.flex{
    display: flex;
}

header{
    background-image: url(assets/imagens/fundo-header.png);
    background-size: 100%;
}

#titulo{
    color: #fff;
    margin: 80px 0 5px 246px;
    padding: 20px;
}

#titulo nav{
    margin-top: 50px;
}

#titulo nav ul{
    list-style: none;
}

#titulo nav ul li{
    background-color: #131313;
    padding: 10px;
    width: 150px;
}

#titulo nav ul li a{
    color: #fff;
    text-decoration: none;
}

#titulo nav ul li:nth-child(1){
    background-color: #00e91f;
    transition: width 500ms;
}
#titulo nav ul li:nth-child(2){
    background-color: #2700e9;
    transition: width 500ms;
}
#titulo nav ul li:nth-child(3){
    background-color: #e9009b;
    transition: width 500ms;
}
#titulo nav ul li:nth-child(4){
    background-color: #696c6a;
    transition: width 500ms;
}
#titulo nav ul li:nth-child(5){
    background-color: #00cee9;
    transition: width 500ms;
}

#titulo nav ul li:nth-child(1):hover{
    background-color: #00e91f;
    width: 200px;
}
#titulo nav ul li:nth-child(2):hover{
    background-color: #2700e9;
    width: 200px;
}
#titulo nav ul li:nth-child(3):hover{
    background-color: #e9009b;
    width: 200px;
}
#titulo nav ul li:nth-child(4):hover{
    background-color: #696c6a;
    width: 200px;
}
#titulo nav ul li:nth-child(5):hover{
    background-color: #00cee9;
    width: 200px;
}

#titulo-img{
    margin-bottom: 0;   
    padding-bottom: 0;
}

/* Sobre mim */

#sobre-mim{
    background-color: #BC96E6;
}

#sobre-img{
    margin: 30px 10px 30px 246px;
    border-width: 30px; 
    border-style: ridge; 
    border-color:  #45205A;
}   

#sobre h2{
    margin-top: 20px auto;
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}
#sobre{
    font-size: 14px;
    margin: 25px 50px 30px 30px;
    text-align: justify;
}
.sobre-titulo{
    color:#e9009b;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.sobre-inf{
    font-size: 12px;
    margin-bottom: 20px;
    text-align: center;
}
.sobre-titulo-edu{
    color:#e9009b;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.sobre-inf-edu{
    font-size: 12px;
    text-align: center;
}


/* Habilidades */ 

#habilidade{
    background-image: url(../assets/imagens/download.jpg);
    background-size: 100%;
    height: 600px;
}
#habilidade-h2{
    text-align: center;
    padding: 50px;
    font-size: 40px;
    color: #fff;
}
#habilidade table{
    text-align: center;
    margin: 10px auto;
}
#habilidade table tr{
    text-align: center;
}
#habilidade table tr td{
    text-align: center;
    padding: 15px;
    background-color: #D8B4E2;
    border-radius: 35px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
@keyframes example {
    0%   {background-color: #D8B4E2;}
    50%  {background-color: #6C2BB6;}
    100% {background-color: #D8B4E2;}
}

/*  Projetos */
#projetos{
    background-image: linear-gradient(180deg, #321452, #6C2BB6, #BC96E6, #EADEF7);
    height: 2100px;
}
#projetos-titulo{
    /*padding: 50px 0 25px 600px;*/
    text-align: center;
    padding: 50px;
    font-size: 45px;
    color: #fff;
}
#projetos-div{
    display: flex;
    /*margin: 30px 0px 30px 250px;
    margin: 30px auto;
    text-align: center;
    background-color: #e9009b;
    padding: 10px;
    width: 1000px;*/
}
#projetos-div2{
    margin: 30px auto;
    text-align: center;
    background-color: #e9009b;
    padding: 10px;
    margin-right: 100px;
    margin-left: 100px;
    width: 1000px;

}
#projetos-div h4{
    padding-top: 10px;
    padding-left: 20px;
    font-family: 'Roboto Slab', sans-serif;
}
#projetos-div p{
   font-size: 13px;
   text-align: justify;
   padding: 20px;
}
#projetos-div a{
    font-size: 13px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #e9009b;
}
#projetos-div a:hover{
    color: #fff;
    text-shadow:0px 0px 5px #fff;
    text-decoration: none;
}

/* Contatos */
#contato{
    background-color: #D8B4E2;
    height: 300px;
}
#contato-titulo{
    text-align: center;
    padding: 30px;
    font-size: 45px;
}
hr{
    color: #131313;
    width: 400px;
    text-align: center;
    margin: auto;
    border: 2px solid;
    margin-bottom: 15px;
}
#contato p{
    padding: 6px;   
    text-align: center;
    font-size: 11px;
}
#contato-links{
   text-align: center;
   margin-top: 20px;
}
#contato-links a{
    color: #fff;
    padding: 10px;
}


/* Rodapé */
footer{
    background-color: #131313;
    color: #fff;
    text-align: center;
    padding: 30px;
}

